<a href="https://colab.research.google.com/github/Chaitanyadarekar/Derving-16-additional-attributes-from-Tennis-csv/blob/main/Past2years_scripts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd

In [29]:
# ---------GUIDELINES BEFORE USING AND GETTING THE AUTOMATICALLY CSV AutoDOWNLOADED-----------

# Just Download the the csv files from JeffSekkmans Tennis db, upload the file you want on Google Colab
# for ATP 2021 insights csv download, upload the /content/atp_matches_2021.csv from Db
#Set the option 1 2 3 or 4 according to the file you want insights on and select Run all option from Runtime(Ctrl + F9 shortcut) 
# 1 for ATP Challengers singles 2021 stats
# 2 fo ATP Main tour singles stats
# 3 for WTA main tour 2021 stats
# 4 for WTA challenger main tour stats

# 16 additional columns that are added by this code for better insights

#'w_1st_In_prc' - Winner first serves In percentage, 
# 'l_1st_In_prc'-Loser first serves In percentage,
# 'w_1stprc'-Winner first serves won percentage,
# 'l_1stprc'-Loser first serves won percentage,
# 'w_2ndprc'-Winner second serves won percentage,
# 'l_2ndprc'-Loser second serves won percentage, 
# 'w_bpSavedprc'-Percentage of breakpoints saved by winner,
# 'l_bpSavedprc'-Percentage of breakpoints saved by loser, 
# 'w_dr'-Winner dominance ratio(ir Winner return points won percentage/ Loser return points won percentage),
# 'l_dr'-Loser Dominance ratio,
# 'w1st_retprc'-Percentage of 1st serve return points won by Winner, 
# 'l1st_retprc'-Percentage of 1st serve return points won by Loser, 
# 'w2nd_retprc'-Percentage of 2nd serve return points won by Winner,
# 'l2nd_retprc'-Percentage of 2nd serve return points won by Loser,
# 'nos'- Total number of sets played in the match for 3 set matches,
# 'comeback'- If the winner has won by being behind a set ie 1 fo comback victory , 0 if not a comeback


option=2

In [30]:
# #Challengers
ATP_2021_CH_PATH="/content/atp_matches_qual_chall_2021.csv"
#Atp
ATP_2021_PATH="/content/atp_matches_2021.csv"
#wta
WTA_2021_PATH="/content/wta_matches_2021.csv"
#wta_Challenger
WTA_CH_PATH="/content/wta_matches_qual_itf_2021.csv"

if option==1:
  path2021=ATP_2021_CH_PATH
elif option==2:
  path2021=ATP_2021_PATH
elif option==3:
  path2021=WTA_2021_PATH
elif option==4:
  path2021=WTA_CH_PATH

#Past2
# path2019="/content/wta_matches_2019.csv"
# path2020="/content/wta_matches_2020.csv"

# path2019="/content/atp_matches_2019.csv"
# path2020="/content/atp_matches_2020.csv"

# path2019="/content/atp_matches_qual_chall_2019.csv"
# path2020="/content/atp_matches_qual_chall_2020.csv"

In [31]:
y1=pd.read_csv(path2021)
# y2=pd.read_csv(path2020)
# y3=pd.read_csv(path2019)

In [32]:
# past_2=pd.concat([y3,y2])
past_2=y1

In [33]:
past_2.shape

(2279, 49)

In [34]:
w_svpt=past_2["w_svpt"]
w_1stIn=past_2["w_1stIn"]
w_1stWon=past_2["w_1stWon"]
w_2ndWon=past_2["w_2ndWon"]
l_svpt=past_2["l_svpt"]
l_1stIn=past_2["l_1stIn"]
l_1stWon=past_2["l_1stWon"]
l_2ndWon=past_2["l_2ndWon"]
w_bpFaced=past_2["w_bpFaced"]
w_bpSaved=past_2["w_bpSaved"]
l_bpFaced=past_2["l_bpFaced"]
l_bpSaved=past_2["l_bpSaved"]
w_df=past_2["w_df"]
l_df=past_2["l_df"]

In [35]:
npw_svpt=w_svpt.to_numpy()
npw_1stIn=w_1stIn.to_numpy()
npw_1stWon=w_1stWon.to_numpy()
npw_2ndWon=w_2ndWon.to_numpy()
npl_svpt=l_svpt.to_numpy()
npl_1stIn=l_1stIn.to_numpy()
npl_1stWon=l_1stWon.to_numpy()
npl_2ndWon=l_2ndWon.to_numpy()
npw_bpFaced=w_bpFaced.to_numpy()
npw_bpSaved=w_bpSaved.to_numpy()
npl_bpFaced=l_bpFaced.to_numpy()
npl_bpSaved=l_bpSaved.to_numpy()
npw_df=w_df.to_numpy()
npl_df=l_df.to_numpy()

In [36]:
w_1stprc=(npw_1stWon/npw_1stIn)*100
l_1stprc=(npl_1stWon/npl_1stIn)*100
w_2ndprc=(npw_2ndWon/(npw_svpt-npw_1stIn))*100
l_2ndprc=(npl_2ndWon/(npl_svpt-npl_1stIn))*100
w_bpSavedprc=(npw_bpSaved/npw_bpFaced)*100
l_bpSavedprc=(npl_bpSaved/npl_bpFaced)*100
w_1st_In_prc=(npw_1stIn/npw_svpt)*100
l_1st_In_prc=(npl_1stIn/npl_svpt)*100
w_dr=(((npl_svpt-npl_1stWon-npl_2ndWon)/npl_svpt)*100)/(((npw_svpt-npw_1stWon-npw_2ndWon)/npw_svpt)*100)
l_dr=(((npw_svpt-npw_1stWon-npw_2ndWon)/npw_svpt)*100)/(((npl_svpt-npl_1stWon-npl_2ndWon)/npl_svpt)*100)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in true_divide
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: RuntimeWarning: invalid value encountered in true_divide

In [37]:
past_2["w_1st_In_prc"]=w_1st_In_prc
past_2["l_1st_In_prc"]=l_1st_In_prc

past_2["w_1stprc"]=w_1stprc
past_2["l_1stprc"]=l_1stprc
past_2["w_2ndprc"]=w_2ndprc
past_2["l_2ndprc"]=l_2ndprc
past_2["w_bpSavedprc"]=w_bpSavedprc
past_2["l_bpSavedprc"]=l_bpSavedprc
past_2["w_dr"]=w_dr
past_2["l_dr"]=l_dr

In [38]:

past_2.shape

(2279, 59)

In [39]:
npw_1stprc=past_2["w_1stprc"].to_numpy()
npl_1stprc=past_2["l_1stprc"].to_numpy()

In [40]:
w1st_retprc=100-npl_1stprc
l1st_retprc=100-npw_1stprc
w2nd_retprc=((npl_svpt-npl_1stIn-npl_2ndWon-npl_df)/(npl_svpt-npl_1stIn))*100
l2nd_retprc=((npw_svpt-npw_1stIn-npw_2ndWon-npw_df)/(npw_svpt-npw_1stIn))*100

In [41]:
past_2["w1st_retprc"]=w1st_retprc
past_2["l1st_retprc"]=l1st_retprc
past_2["w2nd_retprc"]=w2nd_retprc
past_2["l2nd_retprc"]=l2nd_retprc

In [42]:
past_2.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points',
       'w_1st_In_prc', 'l_1st_In_prc', 'w_1stprc', 'l_1stprc', 'w_2ndprc',
       'l_2ndprc', 'w_bpSavedprc', 'l_bpSavedprc', 'w_dr', 'l_dr',
       'w1st_retprc', 'l1st_retprc', 'w2nd_retprc', 'l2nd_retprc'],
      dtype='object')

In [43]:
past_2['w_1st_In_prc']= past_2['w_1st_In_prc'].round(decimals=0)
past_2['l_1st_In_prc']= past_2['l_1st_In_prc'].round(decimals=0)
past_2['w_1stprc']= past_2['w_1stprc'].round(decimals=0)
past_2['l_1stprc']= past_2['l_1stprc'].round(decimals=0)
past_2['w_2ndprc']= past_2['w_2ndprc'].round(decimals=0)
past_2['l_2ndprc']= past_2['l_2ndprc'].round(decimals=0)   
past_2['w_bpSavedprc']= past_2['w_bpSavedprc'].round(decimals=0)  
past_2['l_bpSavedprc']= past_2['l_bpSavedprc'].round(decimals=0)      
past_2['w1st_retprc']= past_2['w1st_retprc'].round(decimals=0)  
past_2['l1st_retprc']= past_2['l1st_retprc'].round(decimals=0)            
past_2['w2nd_retprc']= past_2['w2nd_retprc'].round(decimals=0)   
past_2['l2nd_retprc']= past_2['l2nd_retprc'].round(decimals=0)         
past_2['w_dr']= past_2['w_dr'].round(decimals=2)           
past_2['l_dr']= past_2['l_dr'].round(decimals=2)

In [44]:
# import numpy as np
# nos=[]
# past_2['score']=past_2['score'].astype("string")
# for i in past_2["score"]:
#   if "RET" in i or "W/O" in i :
#     nos.append(0)
#   elif i.count(" ")==1:
#     nos.append(2)
#   elif i.count(" ")==2:
#     nos.append(3)
#   else:
#     nos.append(100) 
  
# np_nos=np.array(nos)  
# past_2["nos"]=np_nos

In [45]:
past_2['score']=past_2['score'].fillna(100)

In [46]:
import numpy as np
nos=[]

past_2['score']=past_2['score'].astype("string")
for i in past_2["score"]:
  if "RET" in i or "W/O" in i or i=='100' :
    nos.append(0)
  elif i.count(" ")==1:
    nos.append(2)
  elif i.count(" ")==2:
    nos.append(3)
  else:
    nos.append(100) 
  
np_nos=np.array(nos)  
past_2["nos"]=np_nos

In [47]:
past_2.shape

(2279, 64)

In [48]:
comeback=[]
past_2['score']=past_2['score'].astype("string")
for i in past_2["score"]:
  if "RET" in i or "W/O" in i or i.count(" ")==1:
    comeback.append(0)
  elif i.count(" ")==2 and int(i[0])<int(i[2]):
    comeback.append(1)
  else:
    comeback.append(-1)

    
  
np_comeback=np.array(comeback)  
past_2["comeback"]=np_comeback

In [49]:
from google.colab import files
f1='T_ATP_CHQ_2021_65'
f2='T_ATP_2021_65'
f3='T_WTA_2021_65'
f4='T_WTA_CHQ_2021'
if option==1:
  past_2.to_csv('T_ATP_CHQ_2021_65.csv') 
  files.download('T_ATP_CHQ_2021_65.csv')
elif option==2:
  past_2.to_csv('T_ATP_2021_65.csv') 
  files.download('T_ATP_2021_65.csv')
elif option==3:
  past_2.to_csv('T_WTA_2021_65.csv') 
  files.download('T_WTA_2021_65.csv')
elif option==4:
  past_2.to_csv('T_WTA_CHQ_2021_65.csv') 
  files.download('T_WTA_CHQ_2021_65.csv')

In [50]:
# past_2.to_csv('T_WTA_past2_65.csv') 
# files.download('T_WTA_past2_65.csv')

# past_2.to_csv('T_ATP_past2_65.csv') 
# files.download('T_ATP_past2_65.csv')

# past_2.to_csv('T_CHQ_past2_65.csv') 
# files.download('T_CHQ_past2_65.csv')

In [51]:
past_2.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points',
       'w_1st_In_prc', 'l_1st_In_prc', 'w_1stprc', 'l_1stprc', 'w_2ndprc',
       'l_2ndprc', 'w_bpSavedprc', 'l_bpSavedprc', 'w_dr', 'l_dr',
       'w1st_retprc', 'l1st_retprc', 'w2nd_retprc', 'l2nd_retprc', 'nos',
       'comeback'],
      dtype='object')

In [52]:
past_2[['winner_name','loser_name','score','comeback','nos','w_dr', 'l_dr']].head(5)

          winner_name          loser_name       score  ...  nos  w_dr  l_dr
0      Hubert Hurkacz     Sebastian Korda     6-3 6-3  ...    2  1.48  0.68
1      Hubert Hurkacz  Christian Harrison  7-6(4) 6-4  ...    2  1.12  0.89
2     Sebastian Korda      Cameron Norrie     6-3 7-5  ...    2  1.29  0.78
3  Christian Harrison      Gianluca Mager  7-6(2) 6-4  ...    2  1.43  0.70
4      Hubert Hurkacz      Roberto Quiroz     6-4 6-4  ...    2  1.40  0.71

[5 rows x 7 columns]

In [53]:
past_2[['winner_name','loser_name','score','comeback','nos','w_dr', 'l_dr']].tail(5)

            winner_name        loser_name           score  ...  nos  w_dr  l_dr
2274    Illya Marchenko     Andreas Seppi         6-4 6-2  ...    2  1.42  0.70
2275       Marcos Giron       Jaume Munar  6-7(2) 6-1 6-4  ...    3  1.10  0.91
2276     Gianluca Mager  Adrian Mannarino         6-3 6-2  ...    2  1.74  0.58
2277  Miomir Kecmanovic    Adrian Andreev      7-6(7) 6-4  ...    2  1.17  0.86
2278       Ilya Ivashka     Pablo Andujar         6-4 6-3  ...    2  1.16  0.86

[5 rows x 7 columns]